@charset "UTF-8";

.mypagemenu a{
	color : #6c757d;
	
}
.mypagemenu a:hover{
	
	color : black;
	font-weight : bold;
}

.mypagemenu .nav-link.active{
	color : black;
	font-weight : bold;
}

h3{
	font-family: 'Do Hyeon', sans-serif;
}

p{
	color: black;
}